/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Margins--------------------------*/

body{
    margin: auto 1.25em;
    font-size: 16px;
}

/*Typography--------------------------*/

#cover{
    background-color: rgb(225, 225, 225);
    padding: 1em 1.25em;
    margin: 0 -1.25em;
}

h1#title{
    color: rgb(225, 84, 2);
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    line-height: 1;
    margin: 20px auto 0 auto; 
    text-align: center;
    text-shadow: 2px 2px rgb(180, 0, 0);
}
h5{
     font-family: 'Teko', sans-serif;
    font-size: 1.75em;
    margin: -10px 0  20px 0;
    padding: 0;
     display: flex;
    justify-content: center;
}

#cover #image{
    width: 100%;
}

div#img-caption{
    font-family: 'Teko', sans-serif;
    font-size: .7em;
    color: rgb(180, 0, 0);
    margin-top: 10px;
}

.quote-h3{
    font-size: 1.9em;
    line-height: 1;
    font-family: 'Teko', sans-serif;
    color: rgb(225, 84, 2);
    margin: 20px auto;
    text-indent:  -.4em;
}

aside.caption{
    font-family: 'Unna', serif;
    font-size: .7em;
    font-weight: 700;
}

h4{
     font-family: 'Teko', sans-serif;
    font-size: 1.75em;
     color: rgb(180, 0, 0);
    margin: 20px 0;
     line-height: 1;
}

p{
    font-family: 'Unna', serif;
    font-size: 1.15em;
     line-height: 1.25;
}

div#key-fights ul{
    font-family: 'Unna', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.1;
    margin-top:10px;
    padding-left: 1em;
}

#key-fights li{
    list-style:inside;
    text-indent: -.8em;
    padding-bottom: 10px;
    }

div.caption{
    font-family: 'Teko', sans-serif;
    font-size: .7em;
    color: rgb(180, 0, 0);
    margin-top: 10px;
}

footer div{
     background-color: rgb(220, 220, 220);
    margin: 1em -1.25em 0 -1.25em;
    padding: 10px 30px;
}

div #tribute-link{
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#tribute-link a{
    font-family: 'Teko', sans-serif;
    color: rgb(225, 84, 2);
    text-decoration: none;
}

/*IMAGES--------------------------*/

#background{
    background: url(../img/wrapper-2.jpeg) no-repeat center fixed;
    background-color: black;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    margin: 0 -1.25em;
}

.wrapper {
    /* set the display to flex and use the justify-content & align-items properties to center all child elements on the page */
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: .75em 0;
     background-color: rgba(0,0,0,0.4);
    
}

h3.quote-flex{
    font-size: 1.05em;
    line-height: 1.3;
    font-family: 'Teko', sans-serif;
    color: white;
    margin: 8em 0 3em 0;
    padding-left: 7em;
    padding-right: 1em;
    text-indent:  -.4em;
    text-shadow: 1px 1px rgb(180, 0, 0);
}

div.gallery{
display: flex;
flex-direction:row;
flex-wrap:wrap;
align-items:baseline;
    justify-content: space-between;
}

.gallery img{
    width: 47%;
    padding: 10px 0;
    margin: 0;
}

ul.posters {
    list-style: none;
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-around;   
    align-items: center;
}

ul.posters img{
    width: 100%;
    padding: 2px 0;     
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:375px) {
   /*Large mobile styles here*/
    
h3.quote-flex{
    font-size: 1.4em;
    margin: 8em 0 5em 0;
}   
}

@media only screen and (min-width:767px){
    
    main{
        margin: auto 2.75em;
    }
    
    #cover{
        margin: 0 -4.25em;
        padding:  1em 3em;
    }
    
    h1#title{
    font-size: 4em;
}
    
h5{
    font-size: 2.25em;
}

 div#img-caption {
     font-size: .85em;
    margin-top: 10px;
    padding-left: 31%;
}
    
    .quote-h3{
        font-size: 2.4em;
    }
    
      
    
    aside.caption  {
    padding-left: 31%;
}
    
    p{padding-left: 30%;}
    
    
    
    h3.quote-flex{
    font-size: 1.5em;
    margin: 2em 0 2em 0;
    padding-left: 20em;
        padding-right: 2em;
}  
    .gallery img{
        width: 23%;}
    
    ul.posters {
    list-style: none;
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;   
    align-items: center;
}
    
    div.caption{
        font-size: .85em;
    }
    
 div #tribute-link{
    padding-left: 0;
}
    
    
/*IMAGES--------------------------*/

#background{
    margin: 0 -4em;
}    }

@media only screen and (min-width:1024px){
     main{
        margin: 3em 6em;
    }
    
    #cover{
        margin-bottom: 3em;
    }
    
h1#title{
    font-size: 5em;
}
    
h5{
    font-size: 3em;
}
     
div#img-caption {
     font-size: 1em;
    margin-top: 10px;
    padding-left: 31%;
}

    aside.caption{
        font-size: 1em;
    }
    
    .quote-h3{
        font-size: 3em;
        margin: 1em 0;
    }
  
    p{
        font-size: 1.25em;
        line-height: 1.5;
    }
       
    #background{
    margin: 0 -4em
} 
    
    .wrapper{
           background-color: rgba(0,0,0,0.2);
          }
    
  h3.quote-flex{
        font-size: 2.35em;
      margin-top: 3em;
      padding-left: 20em;
}  
    
h4{
    font-size: 2.25em;
}    
    
 div#key-fights ul{
    font-size: 1.25em;
    line-height: 1.3;
}

    div #tribute-link{
    font-size: 2.5em;
}

    #poster-gallery{
        width: 55%;
        float: left;
        
    }    
    
      div.caption{
        font-size: 1.25em;
        margin-bottom: 5em;
    }
    
    div#key-fights{
        width: 40%;
        float: right;
        padding-left: 2em;
        margin-bottom: 5em;
 }
    
    footer{
        clear: both;
    }
    
    /* ul.posters {
    list-style: none;
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;   
    align-items: center;
}*/
    
    
    
    
}

@media only screen and (min-width:1440px){
    .quote-h3{
        font-size: 3.5em;
        line-height: 1;
    }
  
    p{
        font-size: 1.5em;
        line-height: 1.5;
    }
    
     #poster-gallery{
        width: 45%;
        float: left;      
    }    
    
    
    div#key-fights ul{
    font-size: 1.35em;
    line-height: 1.3;

}
     
    div#key-fights {
        width: 45%;
        margin-left: 1.5em;

}
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
